MAIL_HOST=srv1014206.hstgr.cloud
MAIL_PORT=587
MAIL_USERNAME=info@znsoftech.com
MAIL_PASSWORD=E[}H,(u#JN3E
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@znsoftech.com
MAIL_FROM_NAME=Kashan Backend Developer
ADMIN_EMAIL=mohdkashansaifi63@gmail.com
